{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}
<div class="container">
  <h1>주문 그룹</h1>
  <button id="create-group">그룹 생성</button>
    <div id="gruop-container">
      <div id="group-form" class="hidden">
        <form type="submit" method="post">
          {{ form.csrf_token }}
          <label for="store">가게명</label>
          <input id="store" name="store" type="text" required>

          <label for="time">시간</label>
          <input id="time" name="time" type="time"required>

          <label for="delivery-cost">배달비</label>
          <input id="delivery-cost" name="delivery-cost" type="number"  required>

          <label for="account-number">계좌번호</label>
          <input id="account-number" name="account-number" type="text"  required>

          <button type="submit">완료</button>
        </form>
      </div>
      <div id="group-list">
        <ul>
          {% for group in group_list %}
          <li><a href="{{ url_for('order.detail', groupID=group.groupID) }}">{{ group.store }} / {{ group.time }} / {{ group.delivery_cost }} / {{ group.account_number }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
</div>
<script src="{{ url_for('static', filename='order.js') }}"></script>
{% endblock %}