{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<br>작성자 : {{ repUser.nickname }}
<br>참여인원 : {{ join_user | length }}
<br>가게명 : {{ group.store }}
<br>주문시간 : {{ group.time }}
<br>총 배달비 : {{ group.delivery_cost }}
<div class="submit">
    {% if not user.joinGroup %}
    <div class="group-join">
        <form action="{{ url_for('order.join', groupID=group.id) }}">
            <button class="joinBtn" type="submit">그룹 참여</button>
        </form>
    </div>
    {% else %}
        {% if user.joinGroup == group.id %}
            {% if user.nickname == repUser.nickname %}
            <div class="group-delete">
                <form action="{{ url_for('order.delete', groupID=group.id) }}">
                    <button class="deleteBtn" type="submit">그룹 삭제하기</button>
                </form>
            </div>
            {% else %}
            <div class="group-quit">
                <form action="{{ url_for('order.quit') }}">
                    <button class="quitBtn" type="submit">그룹 나가기</button>
                </form>
            </div>
            {% endif %}
        {% endif %}
        <div id="my-order">
            <h3>내 주문</h3>
            <ul id="my-order-list"></ul>
            <div id="order-form">
                <form id="order-form-detail">
                    <label for="menu">메뉴</label>
                    <input id="menu" type="text" name="menu" required>

                    <label for="quantity">개수</label>
                    <input id="quantity" type="number" name="quantity" required>

                    <label for="option">옵션</label>
                    <input id="option" type="text" name="option">
                    <button id="addBtn">추가하기</button>
                </form>
            </div>
            <button id="orderBtn" type="button">주문하기!</button>
        </div>
        <div id="orders">
            {% for user in join_user %}
            <div class="order">
                <h3>{{ user.nickname }}님의 주문</h3>
                <ul>
                    {% for order in user.order %}
                    <li>
                        메뉴 : {{ order.menu }} | 개수 : {{ order.quantity }}  |  옵션 : {{ order.option }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='order_detail.js') }}"></script>
{% endblock %}